// Place all the styles related to the api/cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cards-index {
  width: 100%;
  height: 300px;

  form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    color: #333;

    button {
      margin-left: auto;
      border: none;
      color: #ce493e;
      cursor: pointer;
      margin-top: 3px;
      background-color: rgba(255, 255, 255, 0);
      outline: none;
      position: absolute;
      right: 4.5vw;
    }
    span:first-child {
      margin-right: 3vw;
      margin-top: 10px;
    }
    span:last-child {
      margin-right: 0;
      margin-top: 0;
    }
  }

  Textarea {
    font-size: 16px;
    padding: 11px 13px;
    color: #666;
    width: 38%;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    line-height: 1.4;
    resize: none;
    overflow: hidden;
  }

}

.row-front {
  margin-right: 36px;
}

.cards-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  font-weight: 300;
  font-size: 24px;

  a {
    font-size: 17px;
    align-self: flex-end;
    cursor: pointer;
    color: #2aadad;
    text-decoration: none;
    padding-bottom: 20px;
  }

  a:hover {
    text-decoration: underline;
    color: #268a8a;
  }
}

.cards-header-row {
  border-bottom: 2px solid #ddd;
}

.deck-toast {
  font-size: 17px;
}

.toast, .deck-toast, #saved-toast {
  color: #fff;
  position: fixed;
  top: 70px;
  left: 50%;
  list-style: none;
  background-color: rgba(206, 73, 62, 0.9);
  padding: 15px 30px;
  border-radius: 5px;
}

#saved-toast {
  background-color: rgba(63, 143, 205, 0.9);
}

.toast.show, .deck-toast.show, #saved-toast.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s, bounceUp 2s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s, bounceUp 2s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  visibility: hidden;
}