// Place all the styles related to the api/confs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.study-show-page {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  color: #272829;
  display: flex;
}

.nav-sidebar {
  width: 55px;
  height: 100%;
  background-color: #272829;
}

.study-card {
  width: 100%;
  perspective: 1000px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.card-show input {
  display: none;
}

:checked + .flipper {
  transform: rotateY(-180deg);
}

.card-show {
  margin: 35px auto;
}

.card-show, .front, .back {
  width: 60vw;
	height: 480px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
}

.front, .back {
	backface-visibility: hidden;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0,0,0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #2b9292;
  font-size: 24px;
  font-weight: 300;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(-180deg);
}

.notransition {
  transition: none !important;
}

.study-sidebar {
  width: calc(36vw - 55px);
  min-width: 250px;
  background-color: #393c3e;
  color: #fff;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.study-title {
  // background-color: #1c6161; #0a7575 #2b9292
  align-self: stretch;
  background-color: #4e4e4e;
  padding: 15px;
}

.study-title span {
  color: #c3c3c3;
}

.study-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 20px;
}

.CircularProgressbar {
  width: 70%;
  text-anchor: middle;
  dominant-baseline: central;
}

.CircularProgressbar-path       { stroke: #2b9292; }
.CircularProgressbar-trail      { stroke: #c3c3c3; }
.CircularProgressbar-text       { fill: #fff; }
