// Place all the styles related to the api/decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.decks-sidebar {
  color: #aaa;
  background-color: #fff;
  font-weight: 300;

  h1 {
    font-weight: 300;
  }

  button {
    padding: 10px;
    cursor: pointer;
    margin: 0 35px;
    color: #fdfdfd;
    border-radius: 5px;
    border: 1px solid #27b574;
    background-color: #27b574;
    transition-duration: 0.2s;
    outline: none;
  }

  button:hover {
    background-color: #1e8c59;
    border: 1px solid #1e8c59;
  }
}
.deck-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deck-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  width: 355px;
  height: 110px;
  transition-duration: 0.15s;
}

.deck-content:hover {
  background-color: #2b9292;
  color: #fff;
  cursor: pointer;
}

.deck-divider {
  width: 100%;
  border: 0.5px solid #ddd;
  height: 0;
}

.decks-sidebar-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ddd;
  height: 75px;
}

.deck-create-form {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-left: 1px solid #ddd;
  color: #aaa;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input[type="submit"] {
      align-self: flex-end;
      cursor: pointer;

      padding: 10px;
      width: 150px;
      margin-right: 20px;
      color: #fff;
      font-size: 18px;
      border-radius: 5px;
      background-color: #27b574;
      border: 1px solid #27b574;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
    }

    input[type="submit"]:hover,
    input[type="submit"]:focus,
    input[type="submit"]:active {
      background-color: #1e8c59;
      border: 1px solid #1e8c59;
      outline: none;
    }

    input[type="text"] {
      color: #2b9292;
      font-family: 'Sanchez', serif;
      margin-top: 75px;
      font-size: 24px;
      width: 90%;
      border: none;
      border-top: 1px solid #ddd;
      margin-bottom: 10px;
      height: 50px;
      outline: none;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #2b9292;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #2b9292;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: #2b9292;
    }
  }
}
