// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-greeting {
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    text-decoration: none;
    margin: 35px;
  }

  button {
    padding: 10px;
    cursor: pointer;
    margin: 35px;
    color: #fff;
    border-radius: 5px;
    background-color: #2aadad;
    border: 1px solid #1faeae;
  }

  button:hover {

  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    display: inline-block;
    font-size: 3em;
    margin: auto 0;
  }
}
