// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-greeting {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fafafa;
  a {
    text-decoration: none;
    margin: 0 35px;
    color: #fafafa;
  }

  a:hover {
    color: #2aadad;
  }

  button {
    padding: 10px;
    cursor: pointer;
    margin: 0 35px;
    color: #fdfdfd;
    border-radius: 5px;
    border: 1px solid #2aadad;
    background-color: #2aadad;
  }

  button:hover {
    background-color: #2b9292;
    border: 1px solid #2b9292;
  }
}

header {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px;

  h1 {
    color: #fafafa;
    font-size: 2em;
    margin: 0 35px;
  }
}
